.content-wrapper {
    max-width: 80vw;
    margin: auto;
  }
  .night-mode{
    font-size: 12px;
    border-radius: 10px;
    background-color: #000;
    color: #FFF;
    font-weight: 600;
  }
  .night-mode:hover{
    cursor: pointer;
  }
  .normal-mode{
    font-size: 12px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
   
  }
  .normal-mode:hover{
    cursor: pointer;
  }
.title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
h1{
    padding-top: 30px;
    margin-top: 0px;
}
.line-container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.line{
    padding: 1px;
    background-color: black;
    width: 200px;
    border-radius: 4px; 
}
.main-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;   
}
.img-container{
    grid-column: 1 / 3;
}
.img-container img{   
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 0px;
}
.img-container img:hover{
    cursor: pointer;
   transition: 2s;
}
.audio-container{
    grid-row:  2/ 2;
    justify-content: center;
    display: flex;
    align-items: end;
    position: relative;
}
audio {
    width: 262px;
    height: 37px;
}
.vid-container{
    grid-row: 2/ 2;
}
.vid-container video{
    height: 100%;
    border-radius: 0px 0px 0px 20px;
}
.img-nus-overlay{
    position: absolute;
}
.form-main-container
{
    grid-column: 3/span 2;
    grid-row: 1/span 4;
}
.form-container{
    height: 100%; 
}
.form-inner{
    text-align: center;
    background-image: url(/img/49.jpg);
    background-size: 110%;
    /* background-color: #CCC; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   height: 100%;
    border-radius: 0px 20px 20px 0px;
}
.input-label-container{
    padding: 12px;
    text-align: start;
    margin-left: 15px;
}
#message {
    padding: 5px;
    font-weight: 600;
    text-decoration: underline;
}
#password-message{
    padding: 5px;
    font-weight: 600;
    text-decoration: underline;
}
#rep-password{
    padding: 5px;
    font-weight: 600;
    text-decoration: underline;
}
.label{
    margin-left: 5px;
}
input{
    padding: 10px;
    width: 90%;
    overflow: hidden;
    outline: none;
    border-radius: 10px;
    border: #CCC;
}
.btn-container button{
    padding: 10px;
    width: 83%;
    margin-left: -10px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
.btn-container button:hover{
    cursor: pointer;
    background-color: green;
    color: #FFF;
}
.container-signin {
    margin: 2rem;
}


